{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<h1>Bienvenue sur la page d'accueil</h1>

		<p>Vous pouvez dès maintenant accéder à une super liste d'article</p>
	</div>
{% endblock %}
